<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Musicfy</title>
    <link rel="icon" href="{% static 'img/favicon.png' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/play.css'%}">

    <style>
        .logo a {
            display: inline-block;
            margin-right: 10px;
            margin-left:0px;
            color: white;
            font-size: 24px;
        }
        .logo a i {
            font-size: 42px;
            vertical-align: middle;
        }
    </style>
</head>
<body>
    <aside class="sidenav">
        <div class="logo">
            <a href="{% url 'home_page' %}" style="color: white; font-size: 24px;">
                <i class="fas fa-music"></i> Musicfy
            </a>
        </div>
     
        <br>
        <div class="buttons">
            {% if user.is_authenticated %}
                <button onclick="window.location.href='{% url 'profile_page' %}'" type="button" class="btn btn-light"><i class="fas fa-user"></i> <span>Profile</span></button>
                <button onclick="window.location.href='{% url 'favorite_page' %}'" type="button" class="btn btn-light"><i class="fas fa-heart"></i> <span>Favorites</span></button>
                <button onclick="window.location.href='{% url 'logout_page' %}'" type="button" class="btn btn-dark"><i class="fas fa-sign-out-alt"></i> <span>Sign Out</span></button>
            {% endif %}
        </div>
        <div class="buttons">
            {% if not user.is_authenticated %}
                <a href="{% url "signup_page" %}"><button type="button" class="btn btn-light">Sign Up</button></a>
                <a href="{% url "login_page" %}"><button type="button" class="btn btn-dark">Sign In</button></a>
            {% endif %}
        </div>
    </aside>

    <main>
        <div id="player"></div>
        <div class="title plb-20">
            <h1><strong>Şarkı</strong></h1>
          </div>
          <div class=" container-flex text-center">
                  <div class="music-card">
                        <a href="#"><img src="{% static 'img/motivation.png' %}" alt=""></a>
                        <h6>{{only_music.title}}</h6>
                        <p>{{only_music.release}}</p>
                        <button class="playPauseButton" data-music-id="{{ only_music.id }}" data-param={{ only_music.youtube_id }}>▶️</button>
                        <button class="btn btn-outline-danger favorite-btn" data-music-id="{{ only_music.id }}"
                        {% if not request.user.is_authenticated %}
                            onclick="location.href='{% url 'login_page' %}'"
                        {% else %}
                            onclick="toggleFavorite(this)"
                            {% if only_music.id in favorite_musics %}
                                data-favorited="true"
                            {% else %}
                                data-favorited="false"
                            {% endif %}
                        {% endif %}>
                        <i class="fa fa-heart"></i>
                 </button>  
                </div>
                
          </div> 
        <br>
        <br>

    </main>

    <footer id="mainFooter">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-3">
                    <div id="selectedSongName">
                        <p>{{only_music.title}}<p>
                    </div>
                    <div id="selectedSongRelease">
                        <p>{{only_music.release}}<p>
                    </div>

                </div>
                <div class="col-md-6">
                    <div class="playmusic text-center">
                        <ul class="list-inline">
                            <li><button id="beforeButton" class="button-style"><i class="fas fa-step-backward"></i></button></li>
                            <li><button id="playPauseButton"><span id="playPauseIcon">▶️</span></button></li>
                            <li><button id="nextButton" class="button-style"><i class="fas fa-step-forward"></i></button></li>                
                        </ul>
                        <div style="width:250px; margin: 0 auto;">
                            <div id="progress-container">
                                <span id="current-time">0:00</span>
                                <div><input type="range" value="0" min="0" max="60"></div>
                                <span id="duration">0:00</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div id="songName"></div>
                </div>
                
            </div>
        </div>
    </footer>
    <script async src="https://www.youtube.com/iframe_api"></script>
    <script>
        
        let player;
        let isPlaying = false;
        let general_play=false;
        var currentVideoId;
        var song_button=document.querySelector(".playPauseButton")
        var footer = document.getElementById("mainFooter");
        var pause_button = document.getElementById("playPauseButton");
        const rangeInput = document.querySelector('#progress-container input[type="range"]');
        var currentSongIndex = sessionStorage.getItem('currentSongIndex');

        // Eğer currentSongIndex sessionStorage'da bulunamazsa veya değeri null ise, varsayılan olarak 0 olarak ayarla
        if (currentSongIndex === null) {
            currentSongIndex = 0;
        } else {
            currentSongIndex = parseInt(currentSongIndex); // currentSongIndex'i sayıya çevir
        }

        var playlist_id = JSON.parse('{{ playlist_id|escapejs }}');
        var playlist_title= JSON.parse('{{ playlist_title|escapejs }}');
        var playlist_release=JSON.parse('{{ playlist_release|escapejs }}');     
        var playlist_own_id=JSON.parse('{{ playlist_own_id|escapejs }}'); 
        function onYouTubeIframeAPIReady() {
            player = new YT.Player('player', {
                height: '0',
                width: '0',
                videoId: '', // YouTube video ID
                events: {
                    'onReady': onPlayerReady
                }
            });
        }
        function onPlayerReady(event) {
            
            setInterval(updateTimeDisplay, 1000);
               
        };
        
        rangeInput.addEventListener('input', function() {
            const newValue = this.value;
            // Şarkının o saniyeye gitmesi için player'ın oynatma pozisyonunu ayarlayın
            player.seekTo(newValue, true);
        });

        song_button.onclick = function() {
            var video_id="{{ only_music.youtube_id }}"
            togglePlayPause(this, video_id);
        };
    
        
  
        pause_button.addEventListener("click", function() {
                console.log("pause butonu clickledin")
                if (!general_play) {
                    footer.style.display = "block";
                    general_play = true;
                }
                if (isPlaying) {
                    player.pauseVideo();
                    song_button.innerText = '▶️';
                    pause_button.innerText = '▶️';
                    isPlaying=false
                } else {
                    player.playVideo();
                    song_button.innerText = '⏸️';
                    pause_button.innerText = '⏸️';
                    isPlaying = true;
                }
                var songName = "{{only_music.title}}"
                var songRelease = "{{only_music.release}}"
                console.log("sarkının adını m bulamıyorsun acaba",songName)
                
                document.getElementById('selectedSongName').innerHTML = '<h6>' + songName + '</h6>';
                document.getElementById('selectedSongRelease').innerHTML = '<p>' + songRelease + '</p>';
               
                var videoId = this.getAttribute("data-param");
                togglePlayPause(this, videoId);
  
        });
        
        document.getElementById('nextButton').addEventListener('click', function() {  
            currentSongIndex=sessionStorage.getItem('currentSongIndex');
            currentSongIndex++;
            sessionStorage.setItem('currentSongIndex', currentSongIndex);
            console.log(currentSongIndex)
            if (currentSongIndex == playlist_id.length) {
                currentSongIndex = 0;
                sessionStorage.setItem('currentSongIndex', currentSongIndex);
            }
            var nextSongId = playlist_id[currentSongIndex]
            var nextSongOwnId=playlist_own_id[currentSongIndex]
            var nextSongTitle=playlist_title[currentSongIndex]
            var nextSongRelease=playlist_release[currentSongIndex]

            var url = "/music/" + nextSongOwnId + "/";
            console.log(url)
            window.location.href=url
         

            document.getElementById('selectedSongName').innerHTML = '<h6>' + nextSongTitle + '</h6>';
            document.getElementById('selectedSongRelease').innerHTML = '<p>' + nextSongRelease + '</p>';
            if (nextSongId !== null) { 
                console.log("loada giriyor")
                if (currentVideoId !== nextSongId ) {
                    player.loadVideoById(nextSongId);
                    console.log("load etti")
                    currentVideoId = nextSongId;
                    isPlaying=false
                }
            }
            if (isPlaying) {
                player.pauseVideo();
                isPlaying = false;
                pause_button.innerText = '▶️';
            } else {
                player.playVideo();
                isPlaying = true;
                pause_button.innerText = '⏸️';
            }
        });
        document.getElementById('beforeButton').addEventListener('click', function() {
            currentSongIndex=sessionStorage.getItem('currentSongIndex');
            currentSongIndex--;
            sessionStorage.setItem('currentSongIndex', currentSongIndex);
            console.log(currentSongIndex)
            if (currentSongIndex == -1) {
                currentSongIndex = playlist_id.length-1;
                sessionStorage.setItem('currentSongIndex', currentSongIndex);
            }
            var nextSongId = playlist_id[currentSongIndex]
            var nextSongOwnId=playlist_own_id[currentSongIndex]
            var nextSongTitle=playlist_title[currentSongIndex]
            var nextSongRelease=playlist_release[currentSongIndex]
           

            
            var url = "/music/" + nextSongOwnId + "/";
            console.log(url)
            window.location.href=url

            document.getElementById('selectedSongName').innerHTML = '<h6>' + nextSongTitle + '</h6>';
            document.getElementById('selectedSongRelease').innerHTML = '<p>' + nextSongRelease + '</p>';

            if (currentVideoId !== nextSongId) {
                player.loadVideoById(nextSongId);
                currentVideoId = nextSongId;
                isPlaying=false
            }
            if (isPlaying) {
                player.pauseVideo();
                isPlaying = false;
                pause_button.innerText = '▶️';
            } else {
              
                player.playVideo();
                isPlaying = true;
                pause_button.innerText = '⏸️';
            }
        });

        function togglePlayPause(button, videoId) {
            if (!general_play) {
                player.loadVideoById(videoId);
                currentVideoId = videoId;
                footer.style.display = "block";
                general_play = true;
            }
        
            if (isPlaying) {
                console.log("pause tuşu")
                player.pauseVideo();
                isPlaying = false;
                pause_button.innerText = '▶️';
                song_button.innerText = '▶️';
            } else {
                console.log("play tuşu")
                player.playVideo();
                isPlaying = true;
                pause_button.innerText = '⏸️';
                song_button.innerText = '⏸️';
            }
        }

        function updateTimeDisplay() {
            const currentTime = player.getCurrentTime();
            const duration = player.getDuration();
            const currentTimeFormatted = formatTime(currentTime);
            const durationFormatted = formatTime(duration);
            rangeInput.setAttribute('value', Math.floor(currentTime));
            rangeInput.setAttribute('max', Math.floor(duration));
            document.getElementById('duration').textContent = durationFormatted;
            document.getElementById('current-time').textContent = currentTimeFormatted;
        }
        function formatTime(time) {
            const minutes = Math.floor(time / 60);
            const seconds = Math.floor(time % 60);
            return `${minutes < 10 ? '0' : ''}${minutes}:${seconds < 10 ? '0' : ''}${seconds}`;
        }
    </script>
    <script>
      document.addEventListener('DOMContentLoaded', function() {
          document.querySelectorAll('.favorite-btn').forEach(button => {
             
              if (button.dataset.favorited === 'true') {
                  button.style.color = 'red';
              }
              else{
                  button.style.color = 'white';
              }
          });
      });

      function toggleFavorite(button) {
          const musicSlug = button.getAttribute('data-music-id');
          console.log(musicSlug)
          fetch('/add_or_remove_favorite/', {
              method: 'POST',
              headers: {
                  'Content-Type': 'application/json',
                  'X-CSRFToken': '{{ csrf_token }}'
              },
              body: JSON.stringify({ music_slug: musicSlug })
          })
          .then(response => response.json())
          .then(data => {
              if (data.status === 'added') {
                  button.style.color = 'red'; 
                  button.classList.add('favorited');
              } else if (data.status === 'removed') {
                  button.style.color = 'white'; 
                  button.classList.remove('favorited');
              }
          })
          .catch(error => console.error('Hata:', error));
      }
     
      
  </script>
</body>
</html>
